<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Central Security Service</title>

    @RenderSection("MetaTags", required: false)
        
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <link rel="stylesheet" href="Branding/V1.0.0.0/CentralSecurityService.css" asp-append-version="true" />
</head>
<body>
    <header id="headerCentralSecurityService">
        <div id="divLogo">
            <a target="_blank" href="Branding/V1.0.0.0/papilio_ulysses_butterfly_vector-www.CraftsManSpace.com-2025_06_05.png"><img id="imgLogo" src="Branding/V1.0.0.0/papilio_ulysses_butterfly_vector-www.CraftsManSpace.com-2025_06_05.png" alt="Central Security Service Logo" title="Central Security Service Logo" /></a>
        </div>

        <div id="divTitleAndTagLine">
            <div id="divTitle">
                <a href="/"><img src="Branding/V1.0.0.0/2022_04_03-03-www.CoolText.com-Celtic-Hand-St.-Patrick-Font-OJ-53-cooltext407953963820943.png" alt="Central Security Service Title Image" title="Central Security Service Title Image" /></a>
            </div>
            <div id="divTagLine">
                &nbsp;
                <i id="iTagLine">The Only One</i>
            </div>
        </div>

        <nav>
            <br />
            <hr />
            &nbsp;
            <a href="/Index">Home</a>
            &nbsp;
            <a href="/References">References</a>
            &nbsp;
            <a href="/Investigate">Investigate</a>
            &nbsp;
            <a href="/Personnel">Personnel</a>
            &nbsp;
            <a href="/About">About</a>
            &nbsp;
            <a href="/Development">Development</a>
            <hr />
        </nav>
    </header>

    <main id="mainCentralSecurityService">
        <br />

        <div id="divDateAndTime">
            <script type="text/javascript">
                var browserNow = new Date();
                document.write("[Browser] " + browserNow.toDateString() + " - " + browserNow.toTimeString());
            </script>
        </div>

        @RenderBody()
    </main>

    <footer id="footerCentralSecurityService">
        <hr />

        &nbsp;

        Copyright &copy; 2022<script type="text/javascript" language="javascript">
            if (browserNow.getFullYear() > 2022)
                document.write("-" + browserNow.getFullYear());
        </script>
        Central Security Service. All Rights Reserved.
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
