@page
@model CentralSecurityService.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Duffy Group, Heritage, Legacy, Societal Development">
}

<h1>About</h1>

<p>
    The Central Security Service is an Evolution of the American Security Services
    (the <a target="_blank" href="https://www.Cia.gov/">CIA</a> and the <a target="_blank" href="https://www.Nsa.gov/">NSA</a>)
    and the British Security Services
    (<a target="_blank" href="https://www.Mi6.gov.uk/">MI6/SIS</a>, <a target="_blank" href="https://www.Mi5.gov.uk/">MI5</a> and <a target="_blank" href="https://www.Gchq.gov.uk/">GCHQ</a>).
</p>

<h1>Credits</h1>

<p><a target="_blank" href="https://www.Nsa.gov/">https://www.Nsa.gov/</a>.</p>

<p><a target="_blank" href="https://www.Cia.gov/">https://www.Cia.gov/</a>.</p>

<p><a target="_blank" href="https://www.Canva.com/">https://www.Canva.com/</a>.</p>

<p><a target="_blank" href="https://CoolText.com/">https://CoolText.com/</a>.</p>

<p><a target="_blank" href="https://www.Favicon.io/">https://www.Favicon.io/</a>.</p>

<p><a target="_blank" href="https://Notepad-Plus-Plus.org/">https://Notepad-Plus-Plus.org/</a>.</p>

<p><a target="_blank" href="https://www.GitHub.com/">https://www.GitHub.com/</a>.</p>

<p><a target="_blank" href="https://www.Google.com/">https://www.Google.com/</a>.</p>

<p><a target="_blank" href="https://www.Microsoft.com/">https://www.Microsoft.com/</a>.</p>
