@page
@model CentralSecurityService.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Heritage, Legacy, Societal Development">
}

<h1>About</h1>

<p>
    The Central Security Service is an Evolution of the American Security Services
    (the <a target="_blank" href="https://www.Cia.gov/">CIA</a> and the <a target="_blank" href="https://www.Nsa.gov/">NSA</a>)
    and the British Security Services
    (<a target="_blank" href="https://www.Mi6.gov.uk/">MI6/SIS</a>, <a target="_blank" href="https://www.Mi5.gov.uk/">MI5</a> and <a target="_blank" href="https://www.Gchq.gov.uk/">GCHQ</a>).
</p>

<p>
    Whilst it is not 100% certain yet, it is likely to be an amalgamation of the "New" <a target="_blank" href="https://www.Cia.gov/">CIA</a> and
    <a target="_blank" href="https://www.Gchq.gov.uk/">GCHQ</a>.
</p>

<h1>Credits</h1>

<p><a target="_blank" href="https://www.Cia.gov/">https://www.Cia.gov/</a>.</p>

<p><a target="_blank" href="https://www.Gchq.gov.uk/">https://www.Gchq.gov.uk/</a>.</p>

<p><a target="_blank" href="https://www.Canva.com/">https://www.Canva.com/</a>.</p>

<p><a target="_blank" href="https://CoolText.com/">https://CoolText.com/</a>.</p>

<p><a target="_blank" href="https://www.Favicon.io/">https://www.Favicon.io/</a>.</p>

<p><a target="_blank" href="https://Notepad-Plus-Plus.org/">https://Notepad-Plus-Plus.org/</a>.</p>

<p><a target="_blank" href="https://www.GitHub.com/">https://www.GitHub.com/</a>.</p>

<p><a target="_blank" href="https://www.Google.com/">https://www.Google.com/</a>.</p>

<p><a target="_blank" href="https://www.Microsoft.com/">https://www.Microsoft.com/</a>.</p>

<p><a target="_blank" href="https://www.ChatGpt.com/">https://www.ChatGpt.com/</a>.</p>

<p><a target="_blank" href="https://www.Payzone.ie/">https://www.Payzone.ie/</a>.</p>

<p><a target="_blank" href="https://www.Spotify.com/">https://www.Spotify.com/</a>.</p>

<p><a target="_blank" href="https://www.Dcu.ie/">https://www.Dcu.ie/</a> (n&eacute;e National Institute for Higher Education (N.I.H.E.) Dublin).</p>

<p><a target="_blank" href="https://www.Gimp.org/">https://www.Gimp.org/</a>.</p>

<p><a target="_blank" href="https://www.Ionos.co.uk/">https://www.Ionos.co.uk/</a>.</p>

<p><a target="_blank" href="https://www.Name.com/">https://www.Name.com/</a>.</p>

<p><a target="_blank" href="https://www.CertifyTheWeb.com/">https://www.CertifyTheWeb.com/</a>.</p>

<p><a target="_blank" href="https://www.TortoiseGit.org/">https://www.TortoiseGit.org/</a>.</p>

<p><a target="_blank" href="https://www.Git-Scm.com/">https://www.Git-Scm.com/</a>.</p>

<p><a target="_blank" href="https://www.ScooterSoftware.com/">https://www.ScooterSoftware.com/</a> (specifically for the Beyond Compare software).</p>

<p><a target="_blank" href="https://www.BeatPort.com/">https://www.BeatPort.com/</a>.</p>

<p><a target="_blank" href="https://www.100PiLabs.com/">https://www.100PiLabs.com/</a> (specifically for the Pi Music Player).</p>

<p><a target="_blank" href="https://www.Samsung.com/">https://www.Samsung.com/</a> (specifically for their Mobile Phones, and especially the S25+).</p>

<p><a target="_blank" href="https://www.Facebook.com/">https://www.Facebook.com/</a>.</p>

<p><a target="_blank" href="https://www.Duolingo.com/">https://www.Duolingo.com/</a>.</p>

<p><a target="_blank" href="https://www.Vodafone.ie/">https://www.Vodafone.ie/</a>.</p>
