@page
@model CentralSecurityService.Pages.InvestigateModel
@{
    ViewData["Title"] = "Investigate";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Duffy Group, Heritage, Legacy, Societal Development">
}

<h1>Investigate</h1>

<p>The following should be Investigated:</p>

&nbsp;&nbsp;0. <a target="_blank" href="https://youtu.be/SXIj-ps1Vg0">2025_06_01_0 - The Square, Tallaght, Dublin, Ireland - (S25+)</a>.
<br />

&nbsp;&nbsp;1. <a target="_blank" href="https://youtu.be/CM7IULLHv9U">2025_06_03_0 - Liffey Valley, Dublin, Ireland - (S25+)</a>.
<br />

&nbsp;&nbsp;2. <a target="_blank" href="https://youtu.be/65snrvUBdrw">2025_06_04_0 - Stillorgan, Dublin, Ireland - Rotated 180 Degrees - (S25+ And Microsoft Clipchamp)</a>.
<br />

&nbsp;&nbsp;3. <a target="_blank" href="https://youtu.be/4veAudVmrlk">2025_06_04_1 - Stillorgan, Dublin, Ireland - (S25+)</a>.
<br />

<br />
