@page
@model CentralSecurityService.Pages.LocationsModel
@{
    ViewData["Title"] = "Locations";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Heritage, Legacy, Societal Development">
}

<h1>Locations</h1>

<h2>Limerick, Ireland</h2>

<p>Whilst nothing concrete has been decided yet, it is possible that Limerick, Ireland, may be the Head Quarters (HQ) of the Central Security Service.
    One of it's advantages is it's relatively close proximity to Shannon Airport, which is a major International Airport in Ireland.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d154764.6584766423!2d-8.771459239257817!3d52.69252276018641!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5c611f545113%3A0xa00c7a997317330!2sLimerick%2C%20Ireland!5e0!3m2!1sen!2sde!4v1751220772501!5m2!1sen!2sde" width="1024" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
