@page
@model CentralSecurityService.Pages.PersonnelModel
@{
    ViewData["Title"] = "Personnel";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Duffy Group, Heritage, Legacy, Societal Development">
}

<h1>Personnel</h1>
